<p>
  Search films below:
</p>
<ng-select placeholder="Select Films" [items]="filmList$ | async" bindLabel="value" bindValue="id" [loading]="isLoading"
  [(ngModel)]="selectedFilms" [typeahead]="filmListInput$">
  <ng-template class="searchFilm" ng-option-tmp let-item="item">
    <div>
      <b>{{item?.link_code}}</b>, <small>{{item?.year}}</small><div [innerHTML]="item?.image_code"></div>
    </div>
  </ng-template>
</ng-select>